[MASTER]

ignore=__pycache__, .vscode, _source
disable=
	no-member,
	too-many-arguments,
	too-few-public-methods,
	logging-format-interpolation,
	missing-module-docstring,
	missing-function-docstring,
	missing-class-docstring,
  	no-name-in-module,
  	c-extension-no-member,
  	fixme,
  	invalid-name,
	consider-using-with,
	wrong-import-position,
	consider-using-f-string,
	wrong-import-order,
	ungrouped-imports,
	unnecessary-lambda,
	unused-wildcard-import,
	attribute-defined-outside-init,
	assignment-from-no-return


[FORMAT]

max-line-length=88
